<div class="row">
  <h3>Habilidades</h3>
  <div class=" text-center col-sm-4 com-nd-4 col-lg-4">
    <circle-progress
    [title]="'HTML'" 
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 com-nd-4 col-lg-4">
    <circle-progress
    [title]="'CSS'" 
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 com-nd-4 col-lg-4">
    <circle-progress
    [title]="'JavaScript'" 
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 com-nd-4 col-lg-4">
    <circle-progress
    [title]="'GitHub'" 
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 com-nd-4 col-lg-4">
    <circle-progress
    [title]="'Angular'" 
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>

    <div class="text-center col-sm-4 com-nd-4 col-lg-4">
      <circle-progress
      [title]="'Responsabilidad'" 
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 com-nd-4 col-lg-4">
      <circle-progress
      [title]="'Responsabilidad'" 
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 com-nd-4 col-lg-4">
      <circle-progress
      [title]="'Responsabilidad'" 
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 com-nd-4 col-lg-4">
      <circle-progress
      [title]="'Responsabilidad'" 
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>
    
</div>

