
    <div class="row">
         <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="..//..//../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
         </div>
         <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Maximiliano Adrian Fusco</p>
            <p id="profesion">Desarrollador Full Stack Jr</p>
         </div>           
         <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ad
                 sint repellat rem facilis natus, eos deserunt fugiat ducimus voluptate laborum
                  eum quaerat. Qui placeat ut voluptate, deleniti ipsam voluptatibus!</p>
         </div>
    </div>
